/*
    Álvaro Fernández Barrero
    27/01/2026
*/

/*-----------------------------
    GENERAL
-----------------------------*/

body {
    color: #00f;
    background-color: rgb(163, 190, 245);
    font-size: 16px;
    font-family: Georgia, Cambria, serif;
}

/*-----------------------------
    TITLES
-----------------------------*/

h1 {
    color: #6b1010;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 2rem;
}

h2 {
    color: #A00;
    font-family: Verdana, Calibri, sans-serif;
    font-family: 1.5rem;
}

/*-----------------------------
    LISTS
-----------------------------*/

ul {
    color: #060;
}

/*-----------------------------
    TEXTS
-----------------------------*/

strong {
    font-size: 20px;
    font-weight: bold;
}

em {
    color: #fff;
    background-color: #000;
    font-style: italic;
}