/* ---------------------------------------------------
    NORMALIZATION
--------------------------------------------------- */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------------------------------------------
    HEADER
--------------------------------------------------- */

header {
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    padding: 0.3em;
    padding-left: 3em;
}

nav ul, nav a {
    list-style: none;

    text-decoration: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    color: white;

    margin-right: 1em;
}

nav a {
    color: white;
    text-decoration: none;

    margin: 0;
}

nav li {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    border-right: 1px solid #AAA;

    transition: color 0.15s;

    display: flex;
    justify-content: center;
}

nav li:hover {
    cursor: pointer;
    color: #AAA;
}

header input {
    border: none;
    padding: 0.3em;
}

/* ---------------------------------------------------
    SECTIONS/ARTICLES
--------------------------------------------------- */

main > section {
    padding: 2rem;

    display: grid;
    grid-gap: 20px;
}

main > section h2,
main > #bbc p {
    text-transform: uppercase;
    color: #555;
}

main > section h2,
main > section h3 {
    font-weight: 600;
}

article::before {
    content: "";

    display: block;

    width: 100%;
    height: 200px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------------------------------------------------
    1ST SECTION
--------------------------------------------------- */

main > #bbc {
    background-color: #e7e8e1;

    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "tibbc tibbc tibbc tibbc"
        "bbc11 bbc11 bbc21 bbc31"
        "bbc12 bbc12 bbc22 bbc32"
        "respo respo bbc41 bbc51"
        "respo respo bbc42 bbc52";
}

main > #bbc p {
    margin-top: 20px;
    margin-bottom: 40px;

    border-left: 3px solid red;
    padding-left: 0.3rem;
}

main > #bbc h2 {
    grid-area: tibbc;
}

main > #bbc > h3:last-of-type {
    background-color: #555;
    color: white;

    text-align: center;
    align-content: center;

    grid-row: 3;
    grid-area: respo;
}

#mogadishu {
    grid-area: bbc11;
}

#mogadishu p {
    grid-area: bbc12;
}

#mogadishu::before {
    background-image: url(../img/bbc-uno.jpg);
}

#inter-milan {
    grid-area: bbc21;
}

#inter-milan p {
    grid-area: bbc22
}

#inter-milan::before {
    background-image: url(../img/bbc-dos.jpg);
}

#irrational-behaviour {
    grid-area: bbc31;
}

#irrational-behaviour p {
    grid-area: bbc32
}

#irrational-behaviour::before {
    background-image: url(../img/bbc-tres.jpg);
}

#indian-hollywood {
    grid-area: bbc41;
}

#indian-hollywood p {
    grid-area: bbc42
}

#indian-hollywood::before {
    background-image: url(../img/bbc-cuatro.jpg);
}

#healthy-meat {
    grid-area: bbc51;
}

#healthy-meat p{
    grid-area: bbc52
}

#healthy-meat::before {
    background-image: url(../img/bbc-cinco.jpg);
}
/* ---------------------------------------------------
    2ND SECTION
--------------------------------------------------- */

main > #news {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "newsti newsti newsti"
        "news11 news21 news31"
        "news12 news22 news32";
}

main > #news h2 {
    grid-area: newsti;
}

main > #news article h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

#death-toll h3 {
    grid-area: news11;
}

#death-toll p {
    grid-area: news12;
}

#death-toll::before {
    background-image: url("../img/bbc-news-uno.jpg");
}

#australian-set h3 {
    grid-area: news21;
}

#australian-set p {
    grid-area: news22;
}

#australian-set::before {
    background-image: url("../img/bbc-news-dos.jpg");
}

#uk-police h3 {
    grid-area: news31;
}

#uk-police p {
    grid-area: news32;
}

#uk-police::before {
    background-image: url("../img/bbc-news-tres.jpg");
}

/* ---------------------------------------------------
    MEDIA QUERIES
--------------------------------------------------- */

@media (max-width: 64.25em) {
    main > #bbc {
        grid-template-areas:
            "tibbc tibbc tibbc tibbc"
            "bbc11 bbc11 bbc21 bbc31"
            "bbc12 bbc12 bbc22 bbc32"
            "bbc41 bbc41 bbc51 bbc51"
            "bbc42 bbc42 bbc52 bbc52";
    }
    

    main > #bbc > h3:last-of-type {
        display: none;
    }
}