/*-----------------------------
    GENERAL
-----------------------------*/

html {
    font-size: 16px;
}

body {
    font-family: Georgia, Cambria, serif;
    color: #222;
    background-color: rgb(245, 245, 245);
    margin: 0;
}

main {
    width: 80%;
    margin: auto;
}

/*-----------------------------
    TITLES
-----------------------------*/

#main-title {
    color: #6b1010;
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.5rem;
}

/*-----------------------------
    SECTIONS
-----------------------------*/

.intro {
    font-size: 2rem;
    background-color: rgb(163, 190, 245);
    color: #00f;
    padding: 1rem;
}

/*-----------------------------
    TEXTS
-----------------------------*/

.highlight {
    background-color: black;
    color: White;
    font-style: italic;
    padding: 0.2rem;
}

blockquote {
    color: green;
}

blockquote, p {
    font-size: 1rem;
}

/*-----------------------------
    LISTS
-----------------------------*/

.data-list {
    list-style: none;
}

.label {
    color: #060;
    font-weight: bold;
}

#data-list-2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 0.85rem;
    color: #888;
}

/*-----------------------------
    FOOTER
-----------------------------*/

footer > p {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}