* {
    margin: 3px
}


h1 {
    color: rgb(50, 50, 50);
    font-style: italic;
}


#introduction {
    border-style: double;
    padding: 1em;
}


.positive {
    color: blue;
    font-weight: bolder;
}

.negative {
    color: red;
    font-weight: bolder;
}


input[type], input[type]::placeholder {
    color: #00000070;
}

input[type] {
    background-color: rgb(245, 248, 156);
}

input[type=text] {
    background-color: rgb(0, 98, 55);
    font-weight: bolder;
}


input[type=submit] {
    font-weight: bold;
    color: black;
}