* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --dark: #313131;
}

body {
    display: flex;
    flex-wrap: wrap;
}

table {
    border: 1px solid var(--dark);
    border-radius: 15px;

    margin: 1em;
    padding: 1em;

    box-shadow: 1px 1px 1px 0 var(--dark);
}

td, th {
    text-align: right;
}

td:nth-child(even)::before {
    content: ' x ';
}

td:last-child::before {
    content: '= ';
}