body {
    color: white;
    background-color: #062b07;
    
    padding: 1em;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    margin: 5px;
}