/*
    Álvaro Fernández Barrero
    1º DAW BIL
    2026/02/11
*/

/* -------------------------------
   IMÁGENES
------------------------------- */

body {
    background-image: url(../image/HTML5.png);
    background-color: #dededebd;
    background-blend-mode: lighten;
    background-size: 100px;
}

img {
    width: 50px;
    height: 50px;
}

/* -------------------------------
   TEXTO
------------------------------- */

h1 {
    color: red;
}

h3 {
    color: green;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------
   LISTA
------------------------------- */

ol {
    list-style: upper-roman;
}

/* -------------------------------
   ENLACE
------------------------------- */

a {
    text-transform: uppercase;
    text-decoration: none;

    padding: 0.4em;

    color: white;
    background: linear-gradient(to bottom, #55d, #33d);

    border: 1px solid black;
    border-radius: 5px;
}

a:visited {
    background: linear-gradient(to bottom, #555, #333);
}

a:hover {
    font-size: 1.2em;
    cursor: pointer;
}

/* -------------------------------
   TABLA
------------------------------- */

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}