/*
    Álvaro Fernández Barrero
    1º DAW BIL
*/

/* -------------------------------------------
    GLOBAL
------------------------------------------- */

main {
    flex-direction: column;
    justify-content: center;
}

main > p {
    text-align: center;
}

/* -------------------------------------------
    FORMS
------------------------------------------- */

form {
    margin-top: 20px;

    width: 100%;
    max-width: 750px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* -------------------------------------------
    INPUTS
------------------------------------------- */

input {
    margin-top: 5px;
    margin-bottom: 20px;

    padding: 0.4rem;

    width: 100%;

    border-radius: 10px;
    border: none;

    background-color: var(--lightest-color);
    color: var(--darkest-color);
}

input[type='submit'] {
    background-color: var(--submit-color);

    height: 30px;
    max-width: 300px;

    border: none;
    border-radius: 15px;

    font-weight: bolder;

    transition: var(--transition-time) ease;

    box-shadow: 0 0 10px 0 var(--lightest-color);
}

input[type='submit']:hover {
    cursor: pointer;

    box-shadow: 0 0 5px 0 var(--lightest-color);;
    
    background-color: var(--hovered-submit-color);
    color: var(--lightest-color);

    transform: scale(1.03);
}