/*
    Álvaro Fernández Barrero
    1º DAW BIL
*/


/* -------------------------------------------
    GENERAL
------------------------------------------- */

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

/* -------------------------------------------
    TEXTS & BACKGROUNDS
------------------------------------------- */

html {
    background-color: black;
}

body {
    font-family: Regular;

    background-color: var(--darkest-color);
    color: var(--lightest-color);
}

/* -------------------------------------------
    LINKS
------------------------------------------- */

a:link {
    text-decoration: none;
    color: var(--unvisited-links-color);

    transition: transform var(--transition-time);
}

a:hover {
    cursor: pointer;
}

a:visited {
    color: var(--visited-links-color)
}

a:hover {
    color: var(--hover-links-color);
}

/* -------------------------------------------
    ABBREVIATIONS
------------------------------------------- */

abbr {
    text-decoration: none;
    font-style: italic;
}

abbr, em, i {
    font-family: Fancy;
}

/* -------------------------------------------
    Images
------------------------------------------- */

picture *, img {
    border-radius: 10px;
}