/*
    Álvaro Fernández Barrero
    1º DAW BIL
*/


/* -------------------------------------------
    ARTICLES
------------------------------------------- */

article {
    box-shadow: 0 0 3px 0 var(--lightest-color);

    padding: 1rem;

    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 10px;

    width: 90%;
}

section article:first-of-type {
    margin-top: 0;
}

section article:nth-of-type(odd) {
    float: left;
}

section article:nth-of-type(even) {
    float: right;
}