/*
    Álvaro Fernández Barrero
    1º DAW BIL
*/

/*-----------------------------
    GENERAL
-----------------------------*/

* {
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------------
    MENU
-----------------------------*/

.menu a {
    color: white;
    background-color: #5e5e5d;

    padding: 1em;

    text-decoration: none;

    display: block;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li ul {
    display: none;
}

.menu a:hover {
    background-color: #0c0c0c;
}

.menu ul li:hover ul,
.menu ul li ul:hover {
    display: block
}