/*
    Álvaro Fernández Barrero
    1º DAW BIL
    2026/02/11
*/

/* -------------------------------
   GENERAL
------------------------------- */

body {
    display: flex;
}

div {
    border: 3px solid red;
    margin: 5px;
    padding: 1.1em;
}

/* -------------------------------
   LISTAS
------------------------------- */

li > ol {
    list-style: none;
}

div > ol > li {
    counter-increment: items0;
}

div > ol > li > ol > li {
    counter-increment: items1;
}

div > ol > li > ol > li > ol > li {
    counter-increment: items2;
}

li > ol > li::before {
    content: counter(items0) ". " counter(items1) ". ";
}

li > ol > li > ol li::before
{
    content: counter(items0) ". " counter(items1) ". " counter(items2) ". ";
}