body {
    margin: 0;
    text-align: center;
}

header {
    background-color: yellow;
    opacity: 0.5;
}

nav {
    background-color: blue;
    opacity: 0.5;
}

aside {
    width: 30%;
    max-width: 200px;
    padding: 1em;
    background-color: purple;
    opacity: 0.5;
}

section {
    padding: 0.2em;
    margin: 20px;
    background-image: url(../img/banner.jpg);
}

article {
    color: white
}

footer {
    background-color: rgb(255, 94, 0);
    opacity: 0.8;
}