/*
    Álvaro Fernández Barrero
    1º DAW BIL
*/

/*-----------------------------
    GENERAL
-----------------------------*/

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*-----------------------------
    HEADER
-----------------------------*/

header {
    background-color: #222;
    color: #ddd;

    padding: 1em;

    flex: 0 0 100%;
    
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    display: inline;
}

/*-----------------------------
    SECCIONES
-----------------------------*/

main {
    display: flex;
}

section {
    padding: 0.6em;

    width: 33.3333%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

section img {
    max-height: 250px;
}

section h2 {
    text-align: center;
}

#granada {
    background-color: #7fbdbc;
}

#santiago {
    background-color: #b8ebb3;
}

#asturias {
    background-color: #b9cee3;
}