/*
    Álvaro Fernández Barrero
    1º DAW BIL
*/

/*-----------------------------
    GENERAL
-----------------------------*/

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    min-height: 100vh;
}

/*-----------------------------
    HEADER/FOOTER
-----------------------------*/

header, footer {
    background-color: #222;
    color: #ddd;
    
    padding: 1em;
}

/*-----------------------------
    HEADER
-----------------------------*/

header {
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    display: inline;
    font-size: 2.5em;
}

/*-----------------------------
    SECCIONES
-----------------------------*/

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    padding: 0.6em;
    
    flex: 1;

    min-width: 300px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

article img {
    max-height: 250px;

    border-radius: 8px;
}

article h2 {
    text-align: center;
}

#granada {
    background-color: #7fbdbc;
}

#santiago {
    background-color: #b8ebb3;
}

#asturias {
    background-color: #b9cee3;
}

/*-----------------------------
    FOOTER
-----------------------------*/

footer {
    text-align: center;
    font-style: italic;
}

/*-----------------------------
    MEDIA
-----------------------------*/

@media (max-width: 768px) {
    header {
        justify-content: center;
    }

    article {
        width: 100%;
    }
}